#service {
  h2 {
    max-width: 1200px;
    margin: 0 auto 30px;
  }

  .service--content {
    display: block;
    padding: 0 15px;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      padding: 0;
    }

    .item {
      flex-basis: 32%;
      text-align: center;
      border: 1px solid #E9EBEC;
      padding: 20px 10px 40px;
      margin-bottom: 30px;
      transition: background-color 0.8s ease-in;

      @media screen and (min-width: 768px) {
        margin-bottom: 0;
      }

      h3 {
        text-transform: uppercase;
        font-weight: 700;
      }

      img {
        max-width: 80%;
        margin: 0 auto;
        display: block;
      }

      p {
        font-style: italic;
        margin-bottom: 30px;
        text-shadow: 0 1px 2px #222;
      }

      a {
        border: 1px solid #7f53ac;
        border-radius: 4px;
        padding: 10px 30px;
        color: #FFF;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.3px;
        background: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
        transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out, border-color 0.8s ease-in-out;
        cursor: pointer;

        &:hover,
        &:focus {
          background: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
          border-color: #0d324d;
          outline: none;
        }
      }

      &:hover {
        background-color: #DEF0FF;
      }
    }
  }
}